{% extends "blog/base.html" %}
{% block content %}
{% include 'blog/navigation.html' %}
<div class="col-md-8 offset-md-2">
    <h3  class="text-center margin-bottom-cat margin-right-cat orange-text"><i class="far fa-newspaper fa-x indigo-text mt-2"></i> BLOG </h3>

    <hr>
    {% for post in posts %}
    <h2><a href="{% url 'blogo_detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blogo_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | slice:":400" }}...<a href="{% url 'blogo_detail' post.pk%}"><small>contine reading</small></a></p>
    <hr>
    {% endfor %}
    
</div>

<div class="django_form_clear">
{% include 'blog/footer.html' %}
</div>
{% endblock %}