{% extends "blog/base.html" %}
{% load static %}
{% block content %}
{% include 'blog/navigation.html' %}
<h2  class=" margin-bottom-cat margin-right-cat text-center  orange-text" aria-hidden="true"><i class="fas fa-user-graduate fa-x purple-text mr-2 mt-2"></i><i class="fas fa-user-md fa-x deep-purple-text mr-2 mt-2"></i><strong> Training & Jobs</h2>
<div class="container">
<div class="row">

{% for jobb in jobbs %}
    <div class="col-md-4">
        <div class="card mb-2 rounded z-depth-2">
            <img class="card-img-top img-thumbnail img-fluid imgs-details" src="{{ jobb.image.url }}">
            <div class="card-body">
                <h5 class="card-title">{{ jobb.title }}</h5>
                <p class="card-text">{{ jobb.description|linebreaks|truncatewords:10 }}</p>
                <a href="{% url 'jobbs:job_detail' id=jobb.id %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% include 'blog/footer.html' %}
{% endblock %}
 