
{% extends "blog/base.html" %}
{% load static %}

{% block content %}
{% include 'blog/navigation.html' %}

<h2 class="font-weight-bold mb-4 pb-2 text-center"><i class="fas fa-car-battery mr-3 orange-text"></i><i class="fas fa-truck-monster mr-3 green-text"></i><i class="fas fa-truck mr-3 blue-text"></i><i class="fas fa-tractor mr-3 red-text"></i><i class="fas fa-motorcycle mr-3 purple-text"></i> <i class="fa fa-car text-warning" aria-hidden="true"></i></h2>

<div class="container mt-5">


  <!--Section: Content-->
  <section class="dark-grey-text text-center">
{% for car in cars %}
    <!-- Section heading -->
    
    <!-- Section description -->
    <p class="text-center mx-auto w-responsive mb-5 "></p>

  	<!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-4">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-4">
          <img class="card-img-top img-thumbnail img-fluid " src="{{ car.image.url }}">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Category -->
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><i class="fas fa-map pr-2"></i>New</h6>
        </a>
        <!-- Post title -->
        <h4 class="font-weight-bold mb-3"><strong>{{ car.title }}</strong></h4>
        <!-- Post data -->
        <p>by <a class="font-weight-bold">{{ car.owner }}</a>, {{ car.date_posted }}</p>
        <!-- Excerpt -->
        <p class="dark-grey-text">{{car.description|linebreaks|truncatewords:10}}</p>
        <!-- Read more button -->
        <a class="btn btn-pink btn-rounded btn-md"  href="{% url 'cars:car_detail' id=car.id %}">Read more</a>
        

      </div>
      <!-- Grid column -->

     
  

    </div>
    <hr>
    <!-- Grid row -->
{% endfor %}
  </section>
  <!--Section: Content-->


</div>

{% include 'blog/footer.html' %}
{% endblock %}