{% extends "blog/base.html" %}
{% block content %}
{% include 'blog/navigation.html' %}
<div class="container">
    <div class="row">
        <div class="col l12">
            <h1>Thank you to sell with us!!</h1>
            <h5 class="text-center text-green">your item was posted successifuly</h5>
            <a class="text-center" href="{% url 'blog-home' %}">Check it here</a>
        </div>
    </div>
</div>

<div class="django_form_clear">
{% include 'blog/footer.html' %}
</div>
{% endblock %}