{% extends 'blog/base.html' %}
{% load static %}

{% block head %}

{% endblock %}



{% block script %}

{% endblock %}



{% block content  %}
{% include 'blog/navigation.html' %}

<h2 class="text-center">Buy for $20.00</h2>
<div class="">
<div class=" text-center">
<form action="{% url 'charge' %}" method="post">
  {% csrf_token %}
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button "
          data-key="{{ key }}"
          data-description="PAYMENT"
          data-amount="2000"
          data-locale="auto"></script>
</form>

</div>

<div class="django_form_clear">
{% include 'blog/footer.html' %}
</div>
{% endblock content  %}









