{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content  %}
{% include 'blog/navigation.html' %}

<div class="container">

    <div class="row">
    
<!-- Default form register -->
<form class="register-form-center border border-light p-5"  method="POST">
    {% csrf_token %}
    <p class="h3 mb-4">Reset Password</p>
    <fieldset class="form-group "> {% csrf_token %}
    {{ form|crispy }}
    </fieldset>
    <!-- Newsletter -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Request Password Reset</button>

    <!-- Social register --> 
</form>
<!-- Default form register -->
</div>
    </div>
</div>
<div class="django_form_clear_formpost">
{% include 'blog/footer.html' %}
</div>
{% endblock content %}