{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content  %}
{% include 'blog/navigation.html' %}
<div class="container">
<div class="row">  
<!-- Default form register -->
<form class="register-form-center text-center border border-light p-5" action="#!" method="POST">
    {% csrf_token %}
    <p class="h4 mb-4">Sign up</p>
    <fieldset class="form-group ">
    {{ form|crispy }}
    </fieldset>
    <!-- Newsletter -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Sign Up</button>
    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="{% url 'blog-about' %}">terms of service</a>
</form>
<!-- Default form register -->
</div>
    </div>
</div>
</div>
<br>
<div class="django_form_clear_formpost">
{% include 'blog/footer.html' %}
</div>

{% endblock  %}